.button{
    height: 40px !important;
    /* border-radius: 10px !important; */
}
@media (max-width: 990px) {
    .ques{
        width: 45px !important;
    }
}
.chipchild{
    border: none !important;
    font-size: 14px !important;
}
.chipchild:hover{
background-color: gray !important;
}
.chipchild1{
    background-color: gray !important;
    font-size: 14px !important;
}

.small_but{
    background-color: rgb(238, 238, 238);
}
.small_but_2:hover{
    background-color: rgb(238, 238, 238);
}
.bbt:hover{
    background-color: rgb(238, 238, 238);
}
@media (max-width : 582px){
    .cardd{
        flex-wrap: wrap !important;
    }
}